body {
    background-color: #000000;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000ab;
    color: #fff;
    padding: 20px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  li:hover {
    border-bottom: 3px solid #6affac;
  }
  

.grid-container {
        display: grid;
        gap: 10px; 
        padding: 30px;
        grid-template-columns: 1fr 4fr 1fr;
        
        
}

.title {
    color: #6affac;
    text-align: center;
    font-size: 70px;
    margin: 0;
    padding-top: 40px;
    
}

.subtitle {
    color: #fff;
    text-align: center;
    margin: 0;
}

.text, .form {
    color: #fff;
    text-align: center;
    margin: 0;
    /* padding: 20px; */
}

#principal, .form, #marcas, #ideias, #ouca, #ctt {
    grid-column: 2 / 3;
    
}

.banner {
    max-width: 100%;
    grid-column: 2/3;  

}

.sub-grid {
    display: grid;
    gap: 10px; 
    padding: 30px;
    grid-column: 2/3;
    grid-template-columns: 1fr 1fr;
}

#topicos, #form-title, #tideias, #touca {
    grid-column: 2/3;
    margin: 0;
    padding: 20px;
    color: #6affac;
}

#card  {
    display: flex;
    justify-content: center;
}

.marcas {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 5px;
    grid-row: 1;
}

#nike, #nike-txt {
    grid-column: 1/2;
}

#supreme, #supreme-txt {
    grid-column: 2/2;
}

.form {
    border: 2px solid #6affac;
    padding: 20px;
  }
  
.item-form {
    margin: 5px;
    /* padding: 5px; */
}

.ampliada {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .ampliada img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
  }
 
  .galeria {
	display: inline;
	flex-wrap: wrap;
	justify-content: center;
}
.galeria img {
	margin: 10px;
	max-width: 40%;
	border: 2px solid #ddd;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #888888;
}

.spotfy {
    margin: 0.8%;
}